# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
.next/
build/
dist/

# Misc
.DS_Store
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
